h1{
    background-color: rgb(190, 55, 55);
    text-align: center;
}
.titulo{
    background-color: rgb(38, 72, 221);
}
b{
    background-color:rgb(38, 72, 221);
}

body{
    background-image: url(./lovepik-technological-background-image_401943506.jpg);
}

h2{
    background-color: aliceblue;
}

p{
    background-color: rgb(154, 154, 170);
}